#downloadform_section ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}
#downloadform_section ul li{
    display: flex;
    flex-direction: row;
    margin: 17px;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #f4f4f8;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);

    padding: 17px;
}
#downloadform_section ul li div{
    margin: 15px;
}
