.status ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}
.status ul li{
    display: flex;
    flex-direction: row;
    margin: 17px;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    padding: 17px;
}
.status ul li div{
    margin: 15px;
    max-width: 15vw;
}